Command mode shortcuts

    •	Esc: To go into command mode
    •	Enter: To go back to edit mode
    •	M: To convert a cell to a markdown cell
    •	Y: To convert a cell back to a code cell
    •	A: To insert a new cell above
    •	B: To insert a new cell below
    •	D + D: To delete cell
    •	Z: Undo the last operation
    •	F: To find and replace on your code
    •	Shift + Up/Down: To select multiple cells
    •	Space: Scroll notebook downwards
    •	Shift + Space: Scroll notebook upwards

Edit mode shortcuts

    •	Shift + Enter: To execute the code in the current cell and go to the next cell
    •	Alt + Enter: To execute the code in the current cell and insert new cell below
    •	Shift + Tab: To get a brief documentation of the object that you have just typed in the coding cell
    •	Ctrl + Shift + -: To split the cell at the cursor
    •	Shift + M: To merge selected cells

In [1]:
s = 'bmaunmdbraai'
print(s[::2].rstrip('#')+','+s[1::2].rstrip('#'))

bandra,mumbai

In [2]:
# Split
a = "Hello World!"
print(a.split(" "))

['Hello', 'World!']

In [3]:
# join
str = '-'.join('hello')
print(str)

h-e-l-l-o

In [4]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [5]:
x * 2

'lenlen'

In [6]:
# find
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [7]:
# division
print(5/5)
print(7/2)
print(-10/2)
print(20.0/2)

1.0
3.5
-5.0
10.0

In [8]:
# floor division
print(10//3)
print (-5//2)
print (5.0//2)
print (-5.0//2)

3
-3
2.0
-3.0

In [9]:
# Examples of Arithmetic Operator
a = 9
b = 4
 
# Addition of numbers
add = a + b
 
# Subtraction of numbers
sub = a - b
 
# Multiplication of number
mul = a * b
 
# Modulo of both number
mod = a % b
 
# Power
p = a ** b
 
# print results
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

In [10]:
# Examples of Relational Operators
a = 13
b = 33
 
# a > b is False
print(a > b)
 
# a < b is True
print(a < b)
 
# a == b is False
print(a == b)
 
# a != b is True
print(a != b)
 
# a >= b is False
print(a >= b)
 
# a <= b is True
print(a <= b)

False
True
False
True
False
True

In [11]:
# Examples of Logical Operator
a = True
b = False
 
# Print a and b is False
print(a and b)
 
# Print a or b is True
print(a or b)
 
# Print not a is False
print(not a)

False
True
False

In [12]:
# Examples of Assignment Operators
a = 10
 
# Assign value
b = a
print(b)
 
# Add and assign value
b += a
print(b)
 
# Subtract and assign value
b -= a
print(b)
 
# multiply and assign
b *= a
print(b)
 
# bitwise lishift operator
b <<= a
print(b)

10
20
10
100
102400

In [13]:
# Identity Operators in Python
a = 10
b = 20
c = a
 
print(a is not b)
print(a is c)

True
True

In [14]:
# Membership Operators in Python
# Python program to illustrate
# not 'in' operator
x = 24
y = 20
list1 = [10, 20, 30, 40, 50]
 
if (x not in list1):
    print("x is NOT present in given list")
else:
    print("x is present in given list")
 
if (y in list1):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [15]:
# Ternary Operator in Python
# Program to demonstrate conditional operator
a, b = 10, 20
 
# Copy value of a in min if a < b else copy b
minimum = a if a < b else b
 
print(minimum)

10

In [16]:
# len
string = 'demonstrate'
len(string)

11

In [17]:
# count
string.count('')

12

In [18]:
#startswith
string = 'if this is a nice evening'
string.startswith('if')

True

In [19]:
string[3:8]

'this '

In [20]:
# 5th character of the string
string[4]

'h'

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [21]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [22]:
type(t)

tuple

In [23]:
t[0][3]= 't'

TypeError: 'str' object does not support item assignment

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [25]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

In [26]:
type(sample_tuple)

tuple

#### single value tuple

In [27]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [28]:
sample_tuple = (1,)  
print(sample_tuple)

(1,)

In [29]:
sample_tuple1 = 1   #This is not a tuple

In [30]:
type(sample_tuple1)

int

In [31]:
sample_tuple2 = (1) # This is not a tuple

In [32]:
type(sample_tuple2)

int

### Indexing in tuples

In [33]:
t = ("Mumbai", 84, "Python",)

In [34]:
# gives the element at index location 1
t[1]

84

In [35]:
# gives the last element from tuple
t[-1]

'Python'

### Slicing

In [36]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

('Mumbai', 84, 'Python')

In [37]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [38]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [39]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [40]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [41]:
t = (2,4,3,5,7)
min(t)

2

In [42]:
t = (2, 4, 3, 5, 7)
max(t)

7

### Immutability of tuples

In [43]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [44]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

### Sorting a tuple

In [45]:
t = (2,3,6,4,8,5)

sorted(t)

[2, 3, 4, 5, 6, 8]

In [46]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

'Java'

In [47]:
d = {"India" : "INR", "USA" : "Dollars", "France" : "Euros", "USA" : "USD"}
d

{'India': 'INR', 'USA': 'USD', 'France': 'Euros'}

### Packing and Unpacking In Tuples

In [48]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a,d)

1 4

#### dir() - to view the attributes or methods of an object

In [49]:
t = ()
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [50]:
L = ["India", 23, 6, "Mumbai"]

L

['India', 23, 6, 'Mumbai']

In [51]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [52]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [53]:
L[-3]

'Biology'

In [54]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [55]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [56]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

Some of the important methods available with lists include:

    extend(): Extend a list by adding elements at the end of the list

    append(): Append an object to the end of a list

In [57]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [58]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [59]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

pop(index): Remove and return the item at index (default last)

remove(value): Remove the first occurrence of a value in the list

sort(): Stable sort *IN PLACE*

In [60]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [61]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [62]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [63]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [64]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [65]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shallow Copying

In [66]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [67]:
A

['Apple', 'Strawberry', 'Mango']

In [68]:
B

['Apple', 'Strawberry', 'Mango']

In [69]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [70]:
A

['Apple', 'Strawberry', 'Mango']

In [71]:
B

['Orange', 'Strawberry', 'Mango']

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [72]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [73]:
len(set_l)

5

In [74]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

{1, 2, 3, 4, 5, 'India'}

In [75]:
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

In [76]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [77]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [78]:
print(A | B) # Union

{0, 1, 2, 3, 4, 5, 6, 8}

In [79]:
print(A & B) # Intersection

{2, 4}

In [80]:
print(A - B) # Difference

{0, 8, 6}

In [81]:
print(B - A) # Difference

{1, 3, 5}

In [82]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [83]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

'INR'

In [84]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros'}

In [85]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'Yen'}

In [86]:
# Deleting a key value pair

del d["France"]

d

{'India': 'Rs', 'USA': 'USD', 'Japan': 'Yen'}

In [87]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [88]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [89]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [90]:
# Updat() method

d.update({'India':'Rupee'})
d

{'India': 'Rupee', 'USA': 'USD', 'France': 'Euros'}

In [91]:
# get value for a key
dict = {'Name': 'Monty', 'Profession': 'Singer' }
dict.get('Label', 'NA')

'NA'

In [92]:
# get key for a max value in a dictionary

In [93]:
# List of order ID’s which are processed 
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

# List of order ID’s which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the question given below

#### Count the total number of orders [ Orders include both processed and returned orders]

- 63
- 66
- 126
- 129

In [94]:
# Type your code here
len(processed_orders)+len(returned_orders)

129

#### In the total orders, identify the 50th order [ Note: Assume the order ID’s are being generated in a consecutive manner]

- 1152
- 1099
- 1154
- 1100

In [95]:
# Type your code here
# total_orders = processed_orders+returned_orders

orders = processed_orders + returned_orders
orders.sort()
orders[49]

1099

#### Is 50th order a returned order or processed order?

- Returned Order
- Processed Order

In [96]:
orders[49] in processed_orders

True

#### What is the last processed order ID ? [ Note: Assume the order ID’s are being generated in a consecutive manner]

- 1050
- 1178
- 1124
- 1177

In [97]:
processed_orders.sort()
processed_orders[-1]

1178

#### Identify the first 4 orders which are processed?

- 1152, 1154, 1155, 1156
- 1051, 1152, 1153, 1154
- 1050, 1051, 1052, 1054
- 1050, 1051, 1052, 1053

In [98]:
processed_orders[0:4]

[1050, 1051, 1052, 1054]

In [99]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [100]:
# Type your code here
max(Employee_data.values())

45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [101]:
# Type your code here
Employee_data.get(159,'NA')

'NA'

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [102]:
# Type your code here
len(Employee_data)

74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [103]:
# Type your code here
sum(Employee_data.values())/len(Employee_data)

31.364864864864863

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [104]:
# Type your code here
Employee_data.update({104:27,140:27,164:27})
del Employee_data[143]

In [105]:
sum(Employee_data.values())/len(Employee_data)

31.136986301369863

## Decision Making

In [106]:
a = 10
b = 6
c=12
y= a if a>b and a>c else b if b>c else c
print(y)

12

In [107]:
s = 'analytics'
print('yes' if s[0].lower() in ['a','e','i','o','u'] else 'No')

yes

In [108]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L1)):
    L3.append(L1[i]-L2[i])
L3

[2, 6, 15, 4, 8]

In [109]:
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
L3

[2, 6, 15, 4, 8]

In [110]:
# Creating a dictionary consisting of even natural numbers as key and square of each element as value 
updated_dict = {i : i**2 for i in range(2,21) if i % 2 ==0}
print(updated_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [111]:
# words that start with a vowel from a list
input_list=['wood','old','apple','big','item','euphoria']
list_vowel = [i for i in input_list if i[0] in 'aeiou']
list_vowel

['old', 'apple', 'item', 'euphoria']

In [112]:
# Alpha and Numeric
s='asklfdlknsdfclknaklsfn9o834lkn234jn2k34n'
numeric = [i for i in s if i.isnumeric()]
alpha  = [i for i in s if i.isalpha()]
print(numeric)
print(alpha)

['9', '8', '3', '4', '2', '3', '4', '2', '3', '4']
['a', 's', 'k', 'l', 'f', 'd', 'l', 'k', 'n', 's', 'd', 'f', 'c', 'l', 'k', 'n', 'a', 'k', 'l', 's', 'f', 'n', 'o', 'l', 'k', 'n', 'j', 'n', 'k', 'n']

In [113]:
dict = {i:i**3 for i in range(100) if i%3==0}
dict

{0: 0,
 3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [114]:
# Example
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

## Functions

In [115]:
# function squared(), which takes x and y as arguments and returns the x**y value
def squared(x,y):
    fact = x**y
    return fact

squared(2,3)

8

In [116]:
def list_diff(list1,list2):
    list3 = []
    for  i in range(0, len(list1)):
        list3.append(list1[i] - list2[i])
    return list3

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]

print(list_diff(L1, L2))

[2, 6, 15, 4, 8]

### Lambda

In [117]:
# greater function
x,y = 100,33
greater = lambda x,y: x if x>y else y
print(greater(x,y))

100

## Map

In [118]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [119]:
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

In [120]:
num_file = [12,24,36]
list(map(lambda num:num**2,num_file))

[144, 576, 1296]

## Filter

In [121]:
name = ['Harshit','Aman','Akash']
list(filter(lambda x : x.startswith("A"), name))

['Aman', 'Akash']

## Reduce

In [122]:
from functools import reduce
list_1 = ['harshit','aman','manas','rahul']
reduce(lambda x,y: x +' '+ y,list_1)

'harshit aman manas rahul'

In [123]:
from functools import reduce

l103 = ['All','you','have','to','fear','is','fear','itself']

result = reduce(lambda x,y: x +" "+ y,l103)

print(result)

All you have to fear is fear itself

In [124]:
l104 = [65,76,87,23,12,90,99]
res = reduce(lambda x,y: x if x>y else y, l104)
res

99

#### Examples

In [125]:
list1 = ['Santa Cruz','Santa fe','Mumbai','Delhi']
count = sum(map(lambda x: x[0] == 'S', list1))
print((count))

2

In [126]:
l1 = ['Ankur', 'Avik', 'Kiran', 'Nitin']
l2=['Narang', 'Sarkar', 'R', 'Sareen']

In [127]:
z = [l1[i]+" "+l2[i] for i in range(len(l1))]
z

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [128]:
l101=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
b1 = list(filter(lambda x : x if x%5 == 0 else '', l101))
print(b1)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [129]:
l102 = ['soap','sharp','shy','silent','ship','summer','sheep']
sp = list(filter(lambda x : x if (x[0] == 's' and x[-1] == 'p') else '', l102))

print(sp)

['soap', 'sharp', 'ship', 'sheep']

## Class

In [130]:
class Employee :
    company_code = "EMZ"
    def __init__(self,age, name,eid):
            self.age = age
            self.name = name
            self.eid = eid

In [131]:
E1 = Employee(24,'Ravi',101)
type(E1)

__main__.Employee

In [132]:
print(E1.age)

24

In [133]:
print(E1.name,E1.eid)

Ravi 101

In [134]:
E1.company_code

'EMZ'

In [135]:
# Changing company code
Employee.company_code ='XYZ'
E1.company_code

'XYZ'

In [136]:
# Changing Employee name
E1.name ='Virat'
E1.name

'Virat'

In [137]:
class Student:
    standard = 'IV'
    def __init__(self,age,name,Cid):
        self.age = age
        self.name = name
        self.id = Cid

        
student1 = Student(12,"Raj",24)
student2 = Student(12,"Sam",10)
student3 = Student("Shiv",4, 3)

In [138]:
print(student3.age)

Shiv

## Methods

In [139]:
class Employee :
    company_code = "EMZ"
    def __init__(self,age, name,eid):
        self.age = age
        self.name= name
        self.eid = eid
    def update(self):
        self.age = self.age+1
        return self.age

In [140]:
e1 = Employee(24,'Ravi',123)
e2 = Employee(34,'Virat', 234)

In [141]:
print(e2.age)

34

In [142]:
print(e2.update())

35

In [143]:
class Circle:
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius
        
    # instance method
    def calculate_area(self):
        return Circle.pi * self.radius**2
    
    # Class method
    @classmethod
    def access_pi(cls):
        cls.pi = 3.1436
        return cls.pi
    
    # Static Method
    @staticmethod
    def circle_static_method():
        print("This is circle's static method")
        
cir = Circle(5)

In [144]:
cir.calculate_area()

78.5

In [145]:
print(Circle.pi, cir.pi)

3.14 3.14

In [146]:
# Once we access the class method the value of pi will change
Circle.access_pi()

3.1436

In [147]:
# calling the same command in last to last cell will give me different result
print(Circle.pi, cir.pi)

3.1436 3.1436

## Class Inheritance and Overriding

In [148]:
class Shape:
    
    def set_color(self, color):
        self.color = color
        
    def calculate_area(self):
        pass
    
    def color_the_shape(self):
        color_price = {'red':10, 'blue':15, 'green':5}
        return self.calculate_area() * color_price[self.color]

In [149]:
class Circle(Shape):
    pi = 3.14
    def __init__(self,radius):
        self.radius = radius
        
    # overriding
    def calculate_area(self):
        return Circle.pi * self.radius

In [150]:
c=Circle(5)
c.set_color('red')
print('circle with radius=',c.radius,'when colored with',c.color, 'costs $',c.color_the_shape())

circle with radius= 5 when colored with red costs $ 157.0

## Quiz_1

In a school, there are total 100 students numbered from 1 to 100. You’re given three lists named ‘C’, ‘F’, and ‘H’, representing students who play cricket, football, and hockey, respectively. Based on this information, find out and print the following: 
- Students who play all the three sports
- Students who play both cricket and football but don’t play hockey
- Students who play exactly two of the sports
- Students who don’t play any of the three sports

In [151]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]

#### Q1. Which are the students who play all the three sports?
- [22, 39]
- [39, 82]
- [40, 95]
- [82, 94]

In [152]:
set(set(C) & set(F)) & set(H)

{40, 95}

#### Q2. Which are the players who play both cricket and hockey but don't play football?
- [20, 21, 25, 62, 67, 71, 75, 76, 82]
- [20, 21, 22, 25, 30, 32, 34]
- [20, 21, 22, 25, 30, 32, 34, 39, 43, 44, 62]
- [20, 21, 68, 71, 75, 76]

In [153]:
(set(C) & set(H)) - set(F)

{20, 21, 25, 62, 67, 71, 75, 76, 82}

#### Q3. How many players play exactly two sports?
- 19
- 20
- 21
- 22

In [154]:
len((set(C) & set(F)) | (set(H) & set(F)) | (set(C) & set(H))) - len(set(set(C) & set(F)) & set(H))

22

#### Q4. Which of these students do not play any of the sports? (More than one option may be correct)
- 41
- 48
- 63
- 85

In [155]:
students = [41,48,63,85]
for i in students:
    if i in F or i in C or i in H:
        pass
    else:
        print(i)

41
63
85

## Quiz_2

The `netflix` dictionary contains a list of 100 titles along with their total number of views in the past. Based on the keys and values provided in this dictionary, answer the questions given below.

In [156]:
netflix = {'The Debt Collector': 1821195, 'Act of Vengeance': 2804479, 'Paradise Lost': 2195477, "Gerald's Game": 3650626, 'Long Shot': 638440, 'Mak Cun': 1010311, 'Our Souls at Night': 3028705, 'Out of Thin Air': 2681938, "Paul Hollywood's Big Continental Road Trip": 230689, 'Satu Hari': 1012350, 'Monster High: Boo York, Boo York': 1526025, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 2762103, 'Domino': 872663, 'TUNA GIRL': 2574816, '5CM': 2647713, 'Animal World': 220789, 'Hold the Dark': 2307432, 'Lessons from a School Shooting: Notes from Dunblane': 2419534, 'Made in Mexico': 3653712, 'Single': 239278, 'The 3rd Eye': 196138, 'The Sinking Of Van Der Wijck': 2831856, 'Two Catalonias': 1337119, 'Bobby Sands: 66 Days': 2005623, 'Bard of Blood': 744998, 'Deliha 2': 3638900, 'Dragons: Rescue Riders': 3241239, 'In the Shadow of the Moon': 1213329, 'Skylines': 1840094, 'Sturgill Simpson Presents Sound & Fury': 1915540, 'The Politician': 1019394, 'Weeds on Fire': 2273090, 'Much Loved': 3039852, 'Joseph: King of Dreams': 1734449, 'Malaal': 1926128, 'The Grandmaster': 2549410, 'The Inmate': 130965, 'The Hurricane Heist': 2191538, 'Def Comedy Jam 25': 1392697, 'Restless Creature: Wendy Whelan': 2474412, 'Print the Legend': 548250, 'Birders': 3478883, 'Furie': 2755115, 'Leap!': 1401638, 'Oh! Baby (Malayalam)': 839139, 'Oh! Baby (Tamil)': 2691505, 'USS Indianapolis: Men of Courage': 3286014, 'A Wrinkle in Time': 1258861, 'Teach Us All': 2428947, 'White Island': 1152905, 'Inside Man: Most Wanted': 2812661, 'Jeff Dunham: Beside Himself': 2930368, 'China Salesman': 3377292, 'Swearnet: The Movie': 949689, 'The Bar': 620655, 'Manmadhudu 2': 1842761, 'Team Kaylie': 359856, 'Under the Eiffel Tower': 2298237, 'Audrie & Daisy': 1573055, 'Iliza Shlesinger: Confirmed Kills': 365220, 'BONDING': 1664242, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 2770879, '20 Feet From Stardom': 2931730, 'In Darkness': 3248749, 'Gaga: Five Foot Two': 3719550, 'The Bad Batch': 3656264, 'SMOSH: The Movie': 3697506, 'King of Boys': 584112, 'Merry Men: The Real Yoruba Demons': 2035595, "Sarah's Key": 1337902, 'The Wedding Party 2: Destination Dubai': 1471204, 'Vagabond': 1600432, 'Battlefish': 723021, 'DRAGON PILOT: Hisone & Masotan': 602919, 'Hilda': 54948, 'Maniac': 1348196, 'Quincy': 2601704, 'Rafinha Bastos: Ultimatum': 3469996, 'The Good Cop': 2265521, 'Between Two Ferns: The Movie': 3146508, 'Criminal: France': 2021409, 'Criminal: Germany': 658824, 'Criminal: Spain': 3078634, 'Criminal: UK': 2721398, 'Daddy Issues': 2119035, "Inside Bill's Brain: Decoding Bill Gates": 1755104, 'The Hockey Girls': 2000507, 'Travel Mates 2': 707260, 'True: Tricky Treat Day': 3213199, 'Two Sentence Horror Stories': 2438329, 'Mad World': 2281773, 'Mobile Suit Gundam UC': 778879, 'The Bund': 1729892, 'The First Line': 674591, 'Maynard': 84986, 'Monkey Twins': 3277179, 'Bitcoin Heist': 1450158, 'I Am Not Madame Bovary': 2763830, 'Vincent N Roxxy': 1961810, "Chef's Table: France": 2065738}

#### Q1. There's an Indian movie in the dictionary named `Do Paise Ki Dhoop Chaar Aane Ki Baarish`. What is the number of views for this movie?
- 90,854
- 658,824
- 1,023,597
- 2,770,879

In [157]:
netflix['Do Paise Ki Dhoop Chaar Aane Ki Baarish']

2770879

#### Q2. Which of the shows is the most and least popular in terms of number of views? </br> 
(Hint: Use the `key` argument in the max() and min() functions.)
- Monkey Twins, Maynard
- Gaga: Five Foot Two, Hilda
- Gerald's Game, White Island
- Rafinha Bastos: Ultimatum, The First Line

In [158]:
print(max(netflix, key=netflix.get))

print(min(netflix, key=netflix.get))

Gaga: Five Foot Two
Hilda

In [159]:
print(max(netflix.items(), key=lambda x: x[1]))
print(min(netflix.items(), key=lambda x: x[1]))

('Gaga: Five Foot Two', 3719550)
('Hilda', 54948)

Netflix has just recieved the number of views for the last week as well. This data is given below, in the form of a dictionary

In [160]:
netflix_last_week = {'The Debt Collector': 229218, 'Act of Vengeance': 191468, 'Paradise Lost': 167846, "Gerald's Game": 113298, 'Long Shot': 15190, 'Mak Cun': 244581, 'Our Souls at Night': 188095, 'Out of Thin Air': 183961, "Paul Hollywood's Big Continental Road Trip": 207967, 'Satu Hari': 226211, 'Monster High: Boo York, Boo York': 265919, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 192246, 'Domino': 190538, 'TUNA GIRL': 301819, '5CM': 154371, 'Animal World': 228227, 'Hold the Dark': 222938, 'Lessons from a School Shooting: Notes from Dunblane': 256580, 'Made in Mexico': 199790, 'Single': 155517, 'The 3rd Eye': 251349, 'The Sinking Of Van Der Wijck': 153797, 'Two Catalonias': 189422, 'Bobby Sands: 66 Days': 202461, 'Bard of Blood': 241928, 'Deliha 2': 304552, 'Dragons: Rescue Riders': 155149, 'In the Shadow of the Moon': 222999, 'Skylines': 118737, 'Sturgill Simpson Presents Sound & Fury': 43590, 'The Politician': 11902, 'Weeds on Fire': 243382, 'Much Loved': 190123, 'Joseph: King of Dreams': 46104, 'Malaal': 70961, 'The Grandmaster': 44908, 'The Inmate': 19574, 'The Hurricane Heist': 167696, 'Def Comedy Jam 25': 208075, 'Restless Creature: Wendy Whelan': 22976, 'Print the Legend': 161584, 'Birders': 257668, 'Furie': 282266, 'Leap!': 124338, 'Oh! Baby (Malayalam)': 18203, 'Oh! Baby (Tamil)': 131481, 'USS Indianapolis: Men of Courage': 76558, 'A Wrinkle in Time': 169365, 'Teach Us All': 50378, 'White Island': 299779, 'Inside Man: Most Wanted': 123346, 'Jeff Dunham: Beside Himself': 283561, 'China Salesman': 182041, 'Swearnet: The Movie': 63809, 'The Bar': 41243, 'Manmadhudu 2': 261349, 'Team Kaylie': 101283, 'Under the Eiffel Tower': 83650, 'Audrie & Daisy': 106092, 'Iliza Shlesinger: Confirmed Kills': 255103, 'BONDING': 202683, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 32329, '20 Feet From Stardom': 165178, 'In Darkness': 95259, 'Gaga: Five Foot Two': 36638, 'The Bad Batch': 197820, 'SMOSH: The Movie': 196519, 'King of Boys': 49332, 'Merry Men: The Real Yoruba Demons': 293229, "Sarah's Key": 178523, 'The Wedding Party 2: Destination Dubai': 51211, 'Vagabond': 116831, 'Battlefish': 5448, 'DRAGON PILOT: Hisone & Masotan': 281873, 'Hilda': 21348, 'Maniac': 268187, 'Quincy': 139696, 'Rafinha Bastos: Ultimatum': 105449, 'The Good Cop': 73230, 'Between Two Ferns: The Movie': 135600, 'Criminal: France': 243469, 'Criminal: Germany': 285211, 'Criminal: Spain': 45184, 'Criminal: UK': 117056, 'Daddy Issues': 267329, "Inside Bill's Brain: Decoding Bill Gates": 64083, 'The Hockey Girls': 114146, 'Travel Mates 2': 21088, 'True: Tricky Treat Day': 116504, 'Two Sentence Horror Stories': 274471, 'Mad World': 225244, 'Mobile Suit Gundam UC': 47306, 'The Bund': 146872, 'The First Line': 148861, 'Maynard': 87252, 'Monkey Twins': 199274, 'Bitcoin Heist': 41105, 'I Am Not Madame Bovary': 57841, 'Vincent N Roxxy': 207453, "Chef's Table: France": 200536}

#### Q3. Netflix has just recieved the number of views for the last week as well. Add these views to the total views and find the most popular title in terms of views. Also find out how many views this title has? 
- Title: Deliha 2, Views: 3943452
- Title: Dragons: Rescue Riders, Views: 3996388
- Title: Rafinha Bastos: Ultimatum, Views: 3575445
- Title: Gaga: Five Foot Two, Views: 3756188

In [161]:
for key in netflix:
    if key in netflix_last_week:
        netflix[key] = netflix_last_week[key] + netflix[key]

In [162]:
netflix

{'The Debt Collector': 2050413,
 'Act of Vengeance': 2995947,
 'Paradise Lost': 2363323,
 "Gerald's Game": 3763924,
 'Long Shot': 653630,
 'Mak Cun': 1254892,
 'Our Souls at Night': 3216800,
 'Out of Thin Air': 2865899,
 "Paul Hollywood's Big Continental Road Trip": 438656,
 'Satu Hari': 1238561,
 'Monster High: Boo York, Boo York': 1791944,
 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 2954349,
 'Domino': 1063201,
 'TUNA GIRL': 2876635,
 '5CM': 2802084,
 'Animal World': 449016,
 'Hold the Dark': 2530370,
 'Lessons from a School Shooting: Notes from Dunblane': 2676114,
 'Made in Mexico': 3853502,
 'Single': 394795,
 'The 3rd Eye': 447487,
 'The Sinking Of Van Der Wijck': 2985653,
 'Two Catalonias': 1526541,
 'Bobby Sands: 66 Days': 2208084,
 'Bard of Blood': 986926,
 'Deliha 2': 3943452,
 'Dragons: Rescue Riders': 3396388,
 'In the Shadow of the Moon': 1436328,
 'Skylines': 1958831,
 'Sturgill Simpson Presents Sound & Fury': 1959130,
 'The Politician': 1031296,
 'Weeds on Fire': 2516472,
 'Much Loved': 3229975,
 'Joseph: King of Dreams': 1780553,
 'Malaal': 1997089,
 'The Grandmaster': 2594318,
 'The Inmate': 150539,
 'The Hurricane Heist': 2359234,
 'Def Comedy Jam 25': 1600772,
 'Restless Creature: Wendy Whelan': 2497388,
 'Print the Legend': 709834,
 'Birders': 3736551,
 'Furie': 3037381,
 'Leap!': 1525976,
 'Oh! Baby (Malayalam)': 857342,
 'Oh! Baby (Tamil)': 2822986,
 'USS Indianapolis: Men of Courage': 3362572,
 'A Wrinkle in Time': 1428226,
 'Teach Us All': 2479325,
 'White Island': 1452684,
 'Inside Man: Most Wanted': 2936007,
 'Jeff Dunham: Beside Himself': 3213929,
 'China Salesman': 3559333,
 'Swearnet: The Movie': 1013498,
 'The Bar': 661898,
 'Manmadhudu 2': 2104110,
 'Team Kaylie': 461139,
 'Under the Eiffel Tower': 2381887,
 'Audrie & Daisy': 1679147,
 'Iliza Shlesinger: Confirmed Kills': 620323,
 'BONDING': 1866925,
 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 2803208,
 '20 Feet From Stardom': 3096908,
 'In Darkness': 3344008,
 'Gaga: Five Foot Two': 3756188,
 'The Bad Batch': 3854084,
 'SMOSH: The Movie': 3894025,
 'King of Boys': 633444,
 'Merry Men: The Real Yoruba Demons': 2328824,
 "Sarah's Key": 1516425,
 'The Wedding Party 2: Destination Dubai': 1522415,
 'Vagabond': 1717263,
 'Battlefish': 728469,
 'DRAGON PILOT: Hisone & Masotan': 884792,
 'Hilda': 76296,
 'Maniac': 1616383,
 'Quincy': 2741400,
 'Rafinha Bastos: Ultimatum': 3575445,
 'The Good Cop': 2338751,
 'Between Two Ferns: The Movie': 3282108,
 'Criminal: France': 2264878,
 'Criminal: Germany': 944035,
 'Criminal: Spain': 3123818,
 'Criminal: UK': 2838454,
 'Daddy Issues': 2386364,
 "Inside Bill's Brain: Decoding Bill Gates": 1819187,
 'The Hockey Girls': 2114653,
 'Travel Mates 2': 728348,
 'True: Tricky Treat Day': 3329703,
 'Two Sentence Horror Stories': 2712800,
 'Mad World': 2507017,
 'Mobile Suit Gundam UC': 826185,
 'The Bund': 1876764,
 'The First Line': 823452,
 'Maynard': 172238,
 'Monkey Twins': 3476453,
 'Bitcoin Heist': 1491263,
 'I Am Not Madame Bovary': 2821671,
 'Vincent N Roxxy': 2169263,
 "Chef's Table: France": 2266274}

In [163]:
print(max(netflix.items(), key=lambda x: x[1]))

('Deliha 2', 3943452)